@import "../base/variables";
.modal-footer {
  padding-top: 15px;
  border-top: 2px solid #e8e8e8;
  margin-top: 30px;
  > p > a {
    color: $text-color;
    &:hover , &:focus {
      color: $brand-primary;
    }
  }
}

@media (min-width: 1200px) {
  .affix {
    width: 220px;
    top: 20px;
    position: fixed;
  }
}
@media (min-width: 992px){
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
  }
}
.affix-top {
  position: relative;
}

.line {
  border-bottom: 1px solid $base-lighter;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4.Second {
  margin-top: 25px;
  margin-bottom: 10px;
}

.gh-ico {
  width: 20px;
  height: 20px;
}