@import "../variables/variables";
@mixin colorModel($topColor) {
  border-top: $border-top solid $topColor;
  height: $border-top + -10px;
  border-left: 1px solid $border-line-color;
  border-right: 1px solid $border-line-color;
  border-bottom: 1px solid $border-line-color;
  margin-bottom: 15px;
}