header {
  background-color: rgba(25, 30, 33, 0.96);
  margin-bottom: 50px;
  height: 300px;
  > .smaIcon {
    height: 100px;
    text-align: center;
    padding-top: 50px;
  }
  > .smaName {
    text-align: center;
    font-size: 20px;
    color: $brand;
    font-weight: bold;
  }
  > .smaDescribe {
    text-align: center;
    font-size: 18px;
    color: $brand;
    opacity: 0.5;
  }
}