@import "../variables";
.bg-primary-lighter {@include disable($color-primary-lighter)}
.bg-success-lighter {@include disable($color-success-lighter)}
.bg-danger-lighter {@include disable($color-danger-lighter)}
.bg-warning-lighter {@include disable($color-warning-lighter)}
.bg-info-lighter {@include disable($color-info-lighter)}
.bg-default-lighter {@include disable(#fff)}

.bg-primary-light {@include normal($color-primary-light)}
.bg-success-light {@include normal($color-success-light)}
.bg-danger-light {@include normal($color-danger-light)}
.bg-warning-light {@include normal($color-warning-light)}
.bg-info-light {@include normal($color-info-light)}
.bg-default-light {@include normal(#fafafa)}

.bg-primary-dark {@include hover($color-primary-dark)}
.bg-success-dark {@include hover($color-success-dark)}
.bg-danger-dark {@include hover($color-danger-dark)}
.bg-warning-dark {@include hover($color-warning-dark)}
.bg-info-dark {@include hover($color-info-dark)}
.bg-default-dark {@include hover(#f4f4f4)}

.btn {
  margin-top: 15px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
