/// The description of the module
.explain {
  font-size: $font-size - 4;
  color: $base;
  margin-bottom: $margin-primary;
  .btn-color {
    color: $code-red;
    background-color: $code-red-white;
  }
}

/// special description for button size
.btn-size {
  margin-top: $margin-primary;
}