/// The description of the module
/// @group Module
.explain {
  font-size: $font-size - 4;
  color: $base;
  margin-bottom: $margin-primary;
  > .btn-color {
    margin: 0 $margin-primary - 6;
    padding: $margin-primary - 8 $margin-primary - 6;
    font-size: 90%;
    color: $code-red;
    background-color: $code-red-white;
    border-radius: $margin-primary - 6;
    >  code {
        font-size: 90%;
    }
  }
}

/// give a top and bottom margin for description between  tow codepen specially
/// @group Module
.btn-size {
  margin-top: $margin-primary;
}