.active > ul {
  display: block;
}
.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @mixin clearfix() {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
  > .active >a {
    border-left: $border-left-primary;
    font-weight: $font-weight-primary;
    color: $brand;
    padding-left: $padding-default+3;

    &:hover , &:focus {
      border-left: $border-left-primary;
      padding-left: $padding-default+3;
    }
  }
}
.pills {
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      color: $text-color;
      padding: 4px 20px;
      text-decoration: none;
      &:hover, &:focus {
        border-left: $border-left-default;
        color: $brand-primary;
        padding-left: $padding-default+4;
      }
    }
  }
}

.childHide{
  list-style: none;
  padding-left: 0 !important;
  display: none;
  >.active>a{
    border-left: $border-left-primary;
    color: $brand;
    padding-left: $padding-default+13;

    &:hover , &:focus {
      border-left: $border-left-primary;
      padding-left: $padding-default+13;
    }
  }
  > li >a{
    display: block;
    padding: 4px 30px;
    color: $text-color;
    font-weight: $font-weight-base;
    text-decoration: none;
    &:hover , &:focus {
      border-left: $border-left-default;
      color: $brand-primary;
      padding-left: $padding-default+14;
    }
  }
}
.modal-footer {
  padding-top: $padding-default;
  border-top: $border-top;
  margin-top: $margin-primary*3;
  > p > a {
    color: $text-color;
    &:hover , &:focus {
      color: $brand-primary;
    }
    > .gh-ico {
      width: $height-default/5;
      height: $height-default/5;
    }
  }
}

@media (min-width: $primary-min-width) {
  .affix {
    width: $width-default - 30;
    top: $height-default/5;
    position: fixed;
  }
}
@media (min-width: $base-min-width+1){
  .bs-docs-sidebar.affix {
    position: fixed;
    top: $height-default/5;
  }
}
.affix-top {
  position: relative;
  margin-top: $margin-primary*3;
}

@media (max-width: $min-width) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: $min-width+1) and (max-width: $base-min-width) {
  .hidden-sm {
    display: none !important;
  }
}


