@import "../variables";
.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @mixin clearfix() {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
  > .active >a {
    border-left: 2px solid $brand;
    font-weight: 700 !important;
    color: $brand;
    padding-left: 18px;

    &:hover , &:focus {
      border-left: 2px solid $brand;
      padding-left: 18px;
    }
  }
}
.pills {
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      color: $text-color;
      padding: 4px 20px;
      text-decoration: none;
      &:hover, &:focus {
        border-left: 1px solid $brand;
        color: $brand-primary;
        padding-left: 19px;
      }
    }
  }
}

.childHide{
  list-style: none;
  padding-left: 0px !important;
  display: none;
  >.active>a{
    border-left: 2px solid $brand;
    color: $brand;
    padding-left: 28px;

    &:hover , &:focus {
      border-left: 2px solid $brand;
      padding-left: 28px;
    }
  }
  > li >a{
    display: block;
    padding: 4px 30px;
    color: $text-color;
    font-weight: 500 !important;
    text-decoration: none;
    &:hover , &:focus {
      border-left: 1px solid $brand;
      color: $brand-primary;
      padding-left: 29px;
    }
  }
}
.modal-footer {
  padding-top: 15px;
  border-top: 2px solid #e8e8e8;
  margin-top: 30px;
  > p > a {
    color: $text-color;
    &:hover , &:focus {
      color: $brand-primary;
    }
    > .gh-ico {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .affix {
    width: 220px;
    top: 20px;
    position: fixed;
  }
}
@media (min-width: 992px){
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
  }
}
.affix-top {
  position: relative;
  margin-top: 38.760px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}


