h1 Button dropdowns
.line
h3#dropdown-color.Second Button dropdown colors
p.explain Add dropdown menus to nearly anything with this simple plugin,including the navbar,tabs,and pills.We provide a set color of dropdown for your choice.
.bs-example
  .row
    .col-md-3
      .dropdown
        button.btn.btn-default Primary
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Success
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Danger
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Warning
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

  .row
    .col-md-3
      .btn-group
        button.btn.btn-default.dropdown-toggle Info
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Default
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li.active
            a(href="#") Something else here
          li
            a(href="#") Separated link

.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11
    p 12
    p 13
    p 14

  .code
    pre
      p
        span.s .row
      p
        span.s   .col-md-3
      p
        span.s     .btn-group
      p
        span.c       button
        span.s .btn.btn-default
        |  Default
      p
        span.c         span
        span.s .caret
      p
        span.c       ul
        span.s .dropdown-menu
      p
        span.c         li
      p
        span.c           a
        span (
        span.nt href=
        span.s "#"
        span ) Action
      p
        span.c         li
      p
        span.c           a
        span (
        span.nt href=
        span.s "#"
        span ) Another action
      p
        span.c         li
        span.s .active
      p
        span.c           a
        span (
        span.nt href=
        span.s "#"
        span ) Something else here
      p
        span.c         li
      p
        span.c           a
        span (
        span.nt href=
        span.s "#"
        span ) Separated link

h3#dropdown-size.Second Button dropdown size
p.explain Size might vary from smaller screen to a larger screen,We made few sizes that are pixel perfect and resposive.Fancy larger or smaller buttons?
  span.btn-color .btn-lg
  |  ,
  span.btn-color .btn-sm
  |  ,or
  span.btn-color .btn-xs
  |  for additional sizes.
.bs-example
  .btn-group
    button.btn-lg Large button
    span.caret
    button.btn Default button
    span.caret
    button.btn Small button
    span.caret
    button.btn Extra small button
    span.caret
.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9

  .code
    pre
      p
        span.s .btn-group
      p
        span.c   button
        span.s .btn-lg
        |  Large button
      p
        span.c     span
        span.s .caret
      p
        span.c   button
        span.s .btn
        |  Default button
      p
        span.c     span
        span.s .caret
      p
        span.c   button
        span.s .btn
        |  Small button
      p
        span.c     span
        span.s .caret
      p
        span.c   button
        span.s .btn
        |  Extra small button
      p
        span.c     span
        span.s .caret

h3#disabled-items.Second Disabled items
p.explain Add
  span.btn-color .disabled
  |  to a
  span.btn-color <
  span.btn-color li>
  |  in the dropdown to disable the link
.bs-example
  button.dropdown Dropdowns
    span.caret
  ul.dropdown-menu
    li
      a(href="#") Action
    li
      a(href="#") Another action
    li.disabled
      a(href="#") Something else here
    li
      a(href="#") Separated link
.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11

  .code
    pre
      p
        span.c button
        span.s .btn
        |  Dropdowns
      p
        span.c  span
        span.s .caret
      p
        span.c    ul
        span.s .dropdown-menu
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Action
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Another action
      p
        span.c      li
        span.s .disabled
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Something else here
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Separated link

h3#icon-menu-item.Second Icon menu item
p.explain Use any button to trigger a dropdown menu by placing it within a
  span.btn-color .btn-group
  |  and providing the proper menu markup.
.bs-example
  button.dropdown Icon Dropdowns
    span.caret
  ul.dropdown-menu
    li
      a(href="#")
        i.icon.glyphicon.glyphicon-wrench
        |  Action
    li
      a(href="#")
        i.icon.glyphicon.glyphicon-tasks
        |  Another action
    li
      a(href="#")
        i.icon.glyphicon.glyphicon-lock
        |  Something else here
    li
      a(href="#")
        i.icon.glyphicon.glyphicon-send
        |  Separated link
.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11
    p 12
    p 13
    p 14
    p 15
    p 16
    p 17
    p 18
    p 19
  .code
    pre
      p
        span.c button
        span.s .btn
        |  Icon Dropdowns
      p
        span.c  span
        span.s .caret
      p
        span.c    ul
        span.s .dropdown-menu
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span )
      p
        span.c          i
        span.s .icon.glyphicon.glyphicon-wrench
      p            Action
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span )
      p
        span.c          i
        span.s .icon.glyphicon.glyphicon-tasks
      p            Another action
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span )
      p
        span.c          i
        span.s .icon.glyphicon.glyphicon-lock
      p            Something else here
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span )
      p
        span.c          i
        span.s .icon.glyphicon.glyphicon-send
      P            Separated link

h3#bages Bages in menu item
p.explain Use any button to trigger a dropdown menu by placing it within a
  span.btn-color  .btn-group
  |  and providing the proper menu markup.
.bs-example
  button.dropdown Dropdowns
    span.caret
  ul.dropdown-menu
    li
      a(href="#") Action
        span.badge.badge-danger.pull-right 5
    li
      a(href="#") Another action
        span.badge.badge-info.pull-right 7
    li
      a(href="#") Something else here
        span.badge.badge-warning.pull-right 3
    li
      a(href="#") Separated link
        span.badge.badge-success.pull-right 6
.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11
    p 12
    p 13
    p 14
    p 15
  .code
    pre
      p
        span.c button
        span.s .btn
        |  Icon Dropdowns
      p
        span.c  span
        span.s .caret
      p
        span.c    ul
        span.s .dropdown-menu
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Action
      p
        span.c          span
        span.s .badge.badge-danger.pull-right
        span  5
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Another action
      p
        span.c          span
        span.s .badge.badge-info.pull-right
        span  7
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Something else here
      p
        span.c          span
        span.s .badge.badge-warning.pull-right
        span  3
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Separated link
      p
        span.c          span
        span.s .badge.badge-success.pull-right
        span  6

h3#split-dropdown Split button dropdown
p.explain Similarly,create split button dropdowns with the same markup changes,only with a separate button.
.bs-example(data-example-id="split-button-dropdown")
  .btn-group
    button.btn.btn-default Dropdowns
    button.btn.btn-default.dropdown-toggle
      span.caret
      span.sr-only
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
  .btn-group
    button.btn.btn-primary Dropdowns
    button.btn.btn-primary.dropdown-toggle
      span.caret
      span.sr-only
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
  .btn-group
    button.btn.btn-success Dropdowns
    button.btn.btn-success.dropdown-toggle
      span.caret
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
  .btn-group
    button.btn.btn-info Dropdowns
    button.btn.btn-info.dropdown-toggle
      span.caret
      span.sr-only
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
  .btn-group
    button.btn.btn-warning Dropdowns
    button.btn.btn-warning.dropdown-toggle
      span.caret
      span.sr-only
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
  .btn-group
    button.btn.btn-danger Dropdowns
    button.btn.btn-danger.dropdown-toggle
      span.caret
      span.sr-only
    ul.dropdown-menu
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li
        a(href="#") Separated link
.highlight
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11
    p 12
    p 13
    p 14

  .code
    pre
      p
        span.s .btn-group
      p
        span.c   button
        span.s .btn.btn-default
        span  Dropdowns
      p
        span.c   button
        span.s .btn.btn-default.dropdown-toggle
      p
        span.c     span
        span.s .caret
      p
        span.c     span
        span.s .sr-only
      p
        span.c   ul
        span.s .dropdown-menu
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Action
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Another action
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Something else here
      p
        span.c      li
      p
        span.c        a
        span (
        span.nt href=
        span.s "#"
        span ) Separated link