h1 Buttons
.line
h3#button-color Button Colors
p.explain Use any the available classes to quickly create a styled button.
p.codepen(data-height="268", data-theme-id="21322", data-slug-hash="EPVdYo", data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/EPVdYo/') Button Colors-0.3.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


h3#button-size Button size
p.explain Size might vary from smaller to a larger screen.We made few sizes that are pixel perfect and resposive.Fancy larger or smaller bottons?
	span.btn-color .btn-lg
	| ,
	span.btn-color .btn-sm
	| ,or
	span.btn-color .btn-xs
	| for additional sizes.	
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="EPVdxo", data-default-tab="result", data-user="emily123")
	| See the Pen
	a(href='http://codepen.io/emily123/pen/EPVdxo/') Button size-0.3.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")

h3#button-block Button block
p.explain.btn-size Create block level buttons-those that span the full width of a parent - by adding
	span.btn-color .btn-block
	| .
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="ZQbMqB", data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/ZQbMqB/') button-size-0.3.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


//h3#disabled-state Disabled state
//p.explain Make buttons look unclickable by fading them back with
//	span.btn-color opacity
//	| .Add the
//	span.btn-color .disabled
//	| attribute to
//	span.btn-color
//  	code &lt;button&gt;
//	| buttons.
//p.codepen(data-height='100', data-theme-id='20984', data-slug-hash='VvRXrK', data-default-tab='result', data-user='xiang')
//	| See the Pen
//	a(href='http://codepen.io/xiang/pen/VvRXrK/') Disabled state(button)-0.1.0
//	|  by Sam (
//	a(href='http://codepen.io/xiang') @xiang
//	| ) on
//	a(href='http://codepen.io') CodePen
//	| .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
//
//h3#dropdowns Button dropdowns
//p.explain Use any button to trigger a dropdown menu by placing it with a
//	span.btn-color .btn-group
//	| add providing the proper menu markup.
//p.codepen(data-height='266', data-theme-id='20984', data-slug-hash='OyqvOO', data-default-tab='result', data-user='xiang')
//	| See the Pen
//	a(href='http://codepen.io/xiang/pen/OyqvOO/') Button dropdowns-0.1.0
//	|  by Sam (
//	a(href='http://codepen.io/xiang') @xiang
//	| ) on
//	a(href='http://codepen.io') CodePen
//	| .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
