h1 Buttons
.line
h3#button-color.Second Button Colors
p.explain Use any the available classes to quickly create a styled button.
p.codepen(data-height='750', data-theme-id='20984', data-slug-hash='jbJzLp', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/jbJzLp/') Button Colors-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#button-size.Second Button size
p.explain
	|	Size might vary from smaller to a larger screen.We made few sizes that are pixel perfect and resposive.Fancy larger or smaller bottons?
	span.btn-color .btn-lg,btn-sm
	|  ,or
	span.btn-color .btn-xs
	|   for additional sizes.

p.codepen(data-height='100', data-theme-id='20984', data-slug-hash='gaEeGx', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/gaEeGx/') Button size-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

p.explain.btn-size
	|  Create block level buttons-those that span the full width of a parent - by adding
	span.btn-color .btn-block
	span .
p.codepen(data-height='229', data-theme-id='20984', data-slug-hash='VvNwyj', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/VvNwyj/') button-size-0.1.2-sidebar.f3ed670
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

//h3#disabled-state.Second Disabled state
//p.explain
//	|  Make buttons look unclickable by fading them back with
//	span.btn-color opacity
//	| .Add the
//	span.btn-color .disabled
//	|  attribute to
//	span.btn-color < button >
//	|  buttons.
//p.codepen(data-height='100', data-theme-id='20984', data-slug-hash='VvRXrK', data-default-tab='result', data-user='xiang')
//	| See the Pen
//	a(href='http://codepen.io/xiang/pen/VvRXrK/') Disabled state(button)-0.1.0
//	|  by Sam (
//	a(href='http://codepen.io/xiang') @xiang
//	| ) on
//	a(href='http://codepen.io') CodePen
//	| .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
//
//h3#dropdowns.Second Button dropdowns
//p.explain
//	|  Use any button to trigger a dropdown menu by placing it with a
//	span.btn-color .btn-group
//	| add providing the proper menu markup.
//p.codepen(data-height='266', data-theme-id='20984', data-slug-hash='OyqvOO', data-default-tab='result', data-user='xiang')
//	| See the Pen
//	a(href='http://codepen.io/xiang/pen/OyqvOO/') Button dropdowns-0.1.0
//	|  by Sam (
//	a(href='http://codepen.io/xiang') @xiang
//	| ) on
//	a(href='http://codepen.io') CodePen
//	| .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
