h1 Buttons
.line
h3#button-color.Second Button Colors
p.codepen(data-height='268', data-theme-id='0', data-slug-hash='jbJzLp', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/jbJzLp/') Button Colors-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#button-size.Second Button size
p.codepen(data-height='268', data-theme-id='0', data-slug-hash='gaEeGx', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/gaEeGx/') Button size-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#disabled-state.Second Disabled state
p.codepen(data-height='268', data-theme-id='0', data-slug-hash='VvRXrK', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/VvRXrK/') Disabled state(button)-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#dropdowns.Second Button dropdowns
p.codepen(data-height='268', data-theme-id='0', data-slug-hash='OyqvOO', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/OyqvOO/') Button dropdowns-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
