h1 Colors
.line
h3#base-colors Base colors
p.codepen(data-height='268', data-theme-id='21322', data-slug-hash='XXmPxR', data-default-tab='result', data-user='emily123')
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/XXmPxR/')  Base color-0.2.0
	|  by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')



h3#gray-shades Gray color shades
p.codepen(data-height='268', data-theme-id='21322', data-slug-hash='PZPdyg', data-default-tab='result', data-user='emily123')
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/PZPdyg/') Gray color shades -0.2.0
	|  by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#primary-shades Primary color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='EPaaKo', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/EPaaKo/') Primary color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/BelindaLiu') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#success-shades Success color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='dGPPMg', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/dGPPMg/') Success color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/BelindaLiu') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#danger-shadesSecond Danger color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='JGooKZ', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/JGooKZ/') Danger color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/BelindaLiu') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='//assets.codepen.io/assets/embed/ei.js')

h3#warning-shades Warning color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='dGPPXQ', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/dGPPXQ/') Warning color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/xiang') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#info-shades Info color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='mVyyEY', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/mVyyEY/') Info color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/BelindaLiu') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#menu-shades Menu color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='OMPPRJ', data-default-tab='result', data-user='BelindaLiu')
	| See the Pen
	a(href='http://codepen.io/BelindaLiu/pen/OMPPRJ/') Menu color shades-0.2.0
	|  by smaless (
	a(href='http://codepen.io/BelindaLiu') @BelindaLiu
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
