h1 Colors
.line
h3#base-colors.Second Base colors
p.codepen(data-height='330', data-theme-id='20984', data-slug-hash='meoeXM', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/meoeXM/')  Base color-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#gray-shades.Second Gray color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='yYwavO', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/yYwavO/') Gray color shades -0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#primary-shades.Second Primary color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='LpaRMr', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/LpaRMr/') Primary color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#success-shades.Second Success color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='xwBEoW', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/xwBEoW/') Success color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#danger-shadesSecond Danger color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='ZbPBEy', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/ZbPBEy/') Danger color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='//assets.codepen.io/assets/embed/ei.js')

h3#warning-shades.Second Warning color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='vNPyXq', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/vNPyXq/') Warning color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#info-shades.Second Info color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='ojVYBm', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/ojVYBm/') Info color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#menu-shades.Second Menu color shades
p.codepen(data-height='300', data-theme-id='20984', data-slug-hash='epXBRV', data-default-tab='result', data-user='xiang')
	| See the Pen
	a(href='http://codepen.io/xiang/pen/epXBRV/') Menu color shades-0.1.0
	|  by Sam (
	a(href='http://codepen.io/xiang') @xiang
	| ) on
	a(href='http://codepen.io') CodePen
	| .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
