h1 Colors
.line


h3#base-colors Base colors
p.codepen(data-height="268",data-theme-id="0", data-slug-hash="XXmPxR", data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/XXmPxR/') Base color-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='',src="http://assets.codepen.io/assets/embed/ei.js")


h3#gray-shades Gray color shades
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="PZPdyg" ,data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/PZPdyg/') Gray color shades -0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async＝'',src="http://assets.codepen.io/assets/embed/ei.js")

h3#primary-shades Primary color shades
p.codepen(data-height="268" ,data-theme-id="0", data-slug-hash="RrWYdE", data-default-tab="result", data-user="emily123")
	| See the Pen
	a(href='http://codepen.io/emily123/pen/RrWYdE/') Primary color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


h3#success-shades Success color shades
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="gPadBE", data-default-tab="result" ,data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/gPadBE/') Success color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")
	
h3#danger-shadesSecond Danger color shades
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="RrWYeq", data-default-tab="result" ,data-user="emily123" )
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/RrWYeq/') Danger color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")

h3#warning-shades Warning color shades
p.codepen(data-height="268", data-theme-id="0" ,data-slug-hash="objPad", data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/objPad/') Warning color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


h3#info-shades Info color shades
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="dGYqgK" ,data-default-tab="result", data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/dGYqgK/') Info color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


h3#menu-shades Menu color shades
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="YwyOJO", data-default-tab="result" ,data-user="emily123")
	| See the Pen 
	a(href='http://codepen.io/emily123/pen/YwyOJO/') Menu color shades-0.2.0
	| by Emily Liu (
	a(href='http://codepen.io/emily123') @emily123
	| ) on 
	a(href='http://codepen.io') CodePen
	| .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")
