h1 Content
.line
h3#content-title Content title
p.explain By default, all the
   span.btn-color .content-title
   | does is apply some basic border and padding to contain some content.
p.codepen(data-height='110', data-theme-id='20984', data-slug-hash='XmwpLw', data-default-tab='result', data-user='charlescui0225')
   | See the Pen
   a(href='http://codepen.io/charlescui0225/pen/XmwpLw/') Content title-0.3.0
   |  by charles (
   a(href='http://codepen.io/charlescui0225') @charlescui0225
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')