h1 Footer
.line
h3#dashboard-footer Dashboard footer
p.explain This
  span.btn-color .footer
  | have a background color in dashboard.
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="gPaddq", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/gPaddq/') Dashboard footer-0.3.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")

h3#login-footer Login-footer
p.explain By default, the
  span.btn-color
    code &lt;footer&gt;
  | use in login page.
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="GopXXP", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/GopXXP/') Login-footer-0.3.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")
