h1 Footer
.line
h3#dashboard-footer.Second Dashboard footer
p.explain This
  span.btn-color .footer
  |  have a background color in dashboard.


h3#login-footer.Second Login-footer
p.explain By default, the
  span.btn-color  <
  span.btn-color footer>
  |  use in login page.
