h1 Footer
.line
h3#dashboard-footer.Second Dashboard footer
p.explain This
  span.btn-color  .footer
  |  have a background color in dashboard.
p.codepen(data-height='418', data-theme-id='20984', data-slug-hash='ojVyba', data-default-tab='result', data-user='xiang')
  | See the Pen
  a(href='http://codepen.io/xiang/pen/ojVyba/') Dashboard footer-0.1.2
  |  by Sam (
  a(href='http://codepen.io/xiang') @xiang
  | ) on
  a(href='http://codepen.io') CodePen
  | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#login-footer.Second Login-footer
p.explain By default, the
  span.btn-color  <
  span.btn-color footer>
  |  use in login page.
p.codepen(data-height='140', data-theme-id='20984', data-slug-hash='avMKyj', data-default-tab='result', data-user='xiang')
  | See the Pen
  a(href='http://codepen.io/xiang/pen/avMKyj/') Login-footer-0.1.2
  |  by Sam (
  a(href='http://codepen.io/xiang') @xiang
  | ) on
  a(href='http://codepen.io') CodePen
  | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
