h1 Footer
.line
h3#dashboard-footer Dashboard footer
p.explain This
  span.btn-color .footer
  | have a background color in dashboard.
p.codepen(data-height='418', data-theme-id='20984', data-slug-hash='QywwGE', data-default-tab='result', data-user='BelindaLiu')
  | See the Pen
  a(href='http://codepen.io/BelindaLiu/pen/QywwGE/') Dashboard footer-0.3.0
  |  by smaless (
  a(href='http://codepen.io/BelindaLiu') @BelindaLiu
  | ) on
  a(href='http://codepen.io') CodePen
  | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#login-footer Login-footer
p.explain By default, the
  span.btn-color
    code &lt;footer&gt;
  | use in login page.
p.codepen(data-height='140', data-theme-id='20984', data-slug-hash='pgvvNR', data-default-tab='result', data-user='BelindaLiu')
  | See the Pen
  a(href='http://codepen.io/BelindaLiu/pen/pgvvNR/') Login-footer-0.3.0
  |  by smaless (
  a(href='http://codepen.io/BelindaLiu') @BelindaLiu
  | ) on
  a(href='http://codepen.io') CodePen
  | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
