h1 Pagination
.line
h3#pagination-states.Second Disabled and active states
p.explain Links are customizable for different circumstances. Use
   span.btn-color .is-disabled
   |  for unclickable links and
   span.btn-color .is-active
   |  to indicate the current page.
p.codepen(data-height='117', data-theme-id='20984', data-slug-hash='RWdMqZ', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/RWdMqZ/') Disabled and active states(pagination)-0.1.0
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

//h3#pagination-size.Second Pagination sizing
//p.explain Fancy larger or smaller pagination? Add
//   span.btn-color .pagination-lg
//   |  or
//   span.btn-color .pagination-sm
//   |  for additional sizes.
//p.codepen(data-height='203', data-theme-id='20984', data-slug-hash='yYwKQr', data-default-tab='result', data-user='xiang')
//   | See the Pen
//   a(href='http://codepen.io/xiang/pen/yYwKQr/') Pagination sizing-0.1.0
//   |  by Sam (
//   a(href='http://codepen.io/xiang') @xiang
//   | ) on
//   a(href='http://codepen.io') CodePen
//   | .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')