h1 Pagination
.line
h3#pagination-states.Second Disabled and active states
p.explain Links are customizable for different circumstances. Use
   span.btn-color .disabled
   |  for unclickable links and
   span.btn-color .active
   |  to indicate the current page.
.bs-example
   nav
      ul.pagination
         li.disabled
            a(href="#" aria-label="Previous")
               span(aria-hidden="true") &#171;
         li.active
            a(href="#") 1
         li
            a(href="#") 2
         li
            a(href="#") 3
         li
            a(href="#") 4
         li
            a(href="#") 5
         li
            a(href="#" aria-label="Next")
               span(aria-hidden="true") &#187;
.highlight
   pre
      p 1
      p 2
      p 3
      p 4
      p 5
      p 6
      p 7
      p 8
      p 9
      p 10
      p 11

   .code
      pre
         p
         span.c  nav
         p
         span.c     ul
         span.s .pagination
         p
         span.c        li
         span.s .disabled
         p
         span.c           a
         span (
         span.nt href=
         span.s "#"
         span.nt  aria-label=
         span.s "Previous"
         span )
         p
         span.c           span
         span (
         span.nt aria-hidden=
         span.s "true"
         span ) &
         span #171;
         p
         span.c        li
         span.s .active
         p
         span.c           a
         span (
         span.nt href=
         span.s "#"
         span ) 1
         p
         span        ...
         p
         span.c        li
         p
         span.c           a
         span (
         span.nt href=
         span.s "#"
         span.nt  aria-label=
         span.s "Next"
         span )
         p
         span.c           span
         span (
         span.nt aria-hidden=
         span.s "true"
         span ) &
         span #187;

h3#pagination-size.Second Pagination sizing
p.explain Fancy larger or smaller pagination? Add
   span.btn-color .pagination-lg
   |  or
   span.btn-color .pagination-sm
   |  for additional sizes.
.bs-example
   nav
      ul.pagination.pagination-lg
         li.disabled
            a(href="#" aria-label="Previous")
               span(aria-hidden="true") &#171;
         li.active
            a(href="#") 1
         li
            a(href="#") 2
         li
            a(href="#") 3
         li
            a(href="#") 4
         li
            a(href="#") 5
         li
            a(href="#" aria-label="Next")
               span(aria-hidden="true") &#187;
   nav
      ul.pagination
         li.disabled
            a(href="#" aria-label="Previous")
               span(aria-hidden="true") &#171;
         li.active
            a(href="#") 1
         li
            a(href="#") 2
         li
            a(href="#") 3
         li
            a(href="#") 4
         li
            a(href="#") 5
         li
            a(href="#" aria-label="Next")
               span(aria-hidden="true") &#187;
   nav
      ul.pagination.pagination-sm
         li.disabled
            a(href="#" aria-label="Previous")
               span(aria-hidden="true") &#171;
         li.active
            a(href="#") 1
         li
            a(href="#") 2
         li
            a(href="#") 3
         li
            a(href="#") 4
         li
            a(href="#") 5
         li
            a(href="#" aria-label="Next")
               span(aria-hidden="true") &#187;
.highlight
   pre
      p 1
      p 2
      p 3
      p 4
      p 5
      p 6

   .code
      pre
         p
         span.c  nav
         p
         span.c     ul
         span.s .pagination.pagination-lg
         span  ...
         p
         span.c  nav
         p
         span.c     ul
         span.s .pagination
         span  ...
         p
         span.c  nav
         p
         span.c     ul
         span.s .pagination.pagination-sm
         span  ...