h1 Pagination
.line
h3#pagination-states Disabled and active states
p.explain Links are customizable for different circumstances. Use
   span.btn-color .is-disabled
   | for unclickable links and
   span.btn-color .is-active
   | to indicate the current page.
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="VevEPR", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/VevEPR/') Disabled and active states(pagination)-0.2.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")

//h3#pagination-size Pagination sizing
//p.explain Fancy larger or smaller pagination? Add
//p.explain Fancy larger or smaller pagination? Add
//   span.btn-color .pagination-lg
//   | or
//   span.btn-color .pagination-sm
//   | for additional sizes.
//p.codepen(data-height='203', data-theme-id='20984', data-slug-hash='yYwKQr', data-default-tab='result', data-user='BelindaLiu')
//   | See the Pen
//   a(href='http://codepen.io/xiang/pen/yYwKQr/') Pagination sizing-0.1.0
//   |  by Sam (
//   a(href='http://codepen.io/BelindaLiu') @BelindaLiu
//   | ) on
//   a(href='http://codepen.io') CodePen
//   | .
//script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
