h1 Panels
.line
h3#basic-panels.Second Basic panels
p.explain By default, all the
   span.btn-color .panel
   | does is apply some basic border and padding to contain some content.
p.codepen(data-height='105', data-theme-id='20984', data-slug-hash='qOvoKZ', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/qOvoKZ/') Basic panels-0.1.0
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#panel-heading.Second Panel with heading
p.explain Easily add a heading container to your panel with
   span.btn-color .panel-header
   | . You may also include any
   span.btn-color
      code &lt;h1&gt;-&lt;h6&gt;
   | with a
   span.btn-color .panel-title
   | class to add a pre-styled heading.

p.codepen(data-height='272', data-theme-id='20984', data-slug-hash='gaEeKX', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/gaEeKX/') Panel with heading-0.1.2-footer.f331058
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#panel-footer.Second Panel with footer
p.explain Wrap buttons or secondary text in
   span.btn-color .panel-footer
   | . Note that panel footers do not inherit colors and borders when using contextual variations as they are not meant to be in the foreground.
p.codepen(data-height='145', data-theme-id='20984', data-slug-hash='xwBWJw', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/xwBWJw/') Panel with footer-0.1.2-footer.f331058
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')

h3#panel-table.Second With tables
p.explain Add any non-bordered
   span.btn-color  .table
   |  within a panel for a seamless design. If there is a
   span.btn-color  .panel-body
   | , we add an extra border to the top of the table for separation.
p.codepen(data-height='500', data-theme-id='20984', data-slug-hash='RWdMBg', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/RWdMBg/') With tables-0.1.0
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')