h1 Sidebar
.line
p.explain By default, all the
   span.btn-color #sidebar
   | does is apply some basic border and padding to contain some content.
p.codepen(data-height='500', data-theme-id='20984', data-slug-hash='rxaaWG', data-default-tab='result', data-user='BelindaLiu')
   | See the Pen
   a(href='http://codepen.io/BelindaLiu/pen/rxaaWG/') Sidebar-0.3.0
   |  by smaless (
   a(href='http://codepen.io/BelindaLiu') @BelindaLiu
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
