h1 Sidebar
.line
p.explain By default, all the
   span.btn-color #sidebar
   | does is apply some basic border and padding to contain some content.
p.codepen(data-height="268", data-theme-id="21322", data-slug-hash="VevGGd", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/VevGGd/') Sidebar-0.3.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")
