h1 Sidebar
.line
p.explain By default, all the
   span.btn-color #sidebar
   | does is apply some basic border and padding to contain some content.
p.codepen(data-height='500', data-theme-id='20984', data-slug-hash='YyMKao', data-default-tab='result', data-user='xiang')
   | See the Pen
   a(href='http://codepen.io/xiang/pen/YyMKao/') Sidebar-0.1.2-sidebar.f3ed670
   |  by Sam (
   a(href='http://codepen.io/xiang') @xiang
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
