h1 Tables
.line
h3#base-tables Base Tables
p.explain For basic styling-light padding and only horizontal dividers-add the base class
   span.btn-color .table
   | to any
   span.btn-color
      code &lt;table&gt;
   | . It may seem super redundant,but given hte widespread use of tables for other plugins like calendars and date pickers,we've opted to isolate our custom table styles.

p.codepen(data-height='215', data-theme-id='20984', data-slug-hash='gPbbwV', data-default-tab='result', data-user='BelindaLiu')
   | See the Pen
   a(href='http://codepen.io/BelindaLiu/pen/gPbbwV/') Base Tables-0.3.0
   |  by smaless (
   a(href='http://codepen.io/BelindaLiu') @BelindaLiu
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')


h3#tables-details Tables details
p.explain Use
   span.btn-color .detail-title
   | to displays detailed information in a table.
p.codepen(data-height='220', data-theme-id='20984', data-slug-hash='OMPPbJ', data-default-tab='result', data-user='BelindaLiu')
   | See the Pen
   a(href='http://codepen.io/BelindaLiu/pen/OMPPbJ/') Tables details-0.2.0
   |  by smaless (
   a(href='http://codepen.io/BelindaLiu') @BelindaLiu
   | ) on
   a(href='http://codepen.io') CodePen
   | .
script(async='', src='http://assets.codepen.io/assets/embed/ei.js')
