h1 Tables
.line
h3#base-tables Base Tables
p.explain For basic styling-light padding and only horizontal dividers-add the base class
   span.btn-color .table
   | to any
   span.btn-color
      code &lt;table&gt;
   | . It may seem super redundant,but given hte widespread use of tables for other plugins like calendars and date pickers,we've opted to isolate our custom table styles.
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="BjoOOe", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/BjoOOe/') Base Tables-0.3.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")


h3#tables-details Tables details
p.explain Use
   span.btn-color .detail-title
   | to displays detailed information in a table.
p.codepen(data-height="268", data-theme-id="0", data-slug-hash="OMyooG", data-default-tab="result", data-user="emily123")
  | See the Pen 
  a(href='http://codepen.io/emily123/pen/OMyooG/') Tables details-0.2.0
  | by Emily Liu (
  a(href='http://codepen.io/emily123') @emily123
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async='', src="http://assets.codepen.io/assets/embed/ei.js")
