doctype html
html(lang='en')
   head
      title API Document
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='main.css')

   body(data-spy='scroll', data-target='#myScrollspy', data-offset='20')
      header
         .smaIcon
            img(src="src/lib/images/API-IMG.png")
            p.smaName Smaless
            p.smaDescribe Beautiful and inspiring uses of Bootstrap
      .container
         .row
            .col-md-3#myScrollspy
               ul.nav.pills.hidden-xs.hidden-sm(data-spy="affix")
                  li
                     a(href='#color') Color
                     ul.childHide
                        li
                           a(href='#base-colors') Base colors
                        li
                           a(href='#gray-shades') Gray color shades
                        li
                           a(href='#primary-shades') Disabled state
                        li
                           a(href='#success-shades') Success color shades
                        li
                           a(href='#danger-shades') Danger color shades
                        li
                           a(href='#warning-shades') Warning color shades
                        li
                           a(href='#info-shades') Info color shades
                        li
                           a(href='#menu-shades') Menu color shades

                  li
                     a(href='#buttons') Buttons
                     ul.childHide
                        li
                           a(href='#button-color') Button color
                        li
                           a(href='#button-size') Button size
                        //li
                        //   a(href='#disabled-state') Disabled state
                        //li
                        //   a(href='#dropdowns') Button dropdowns

                  //li
                  //   a(href='#button-dropdowns') Button dropdowns
                  //   ul.childHide
                  //      li
                  //         a(href="#dropdown-color") Button dropdown colors
                  //      li
                  //         a(href="#dropdown-size") Button dropdown size
                  //      li
                  //         a(href="#disabled-items") Disabled items
                  //      li
                  //         a(href="#icon-menu-item") Icon menu item
                  //      li
                  //         a(href="#bages")   Bages in menu item
                  //      li
                  //         a(href="#split-dropdown") Split button dropdown

                  li
                     a(href='#panels') Panels
                     ul.childHide
                        li
                           a(href="#basic-panels") Basic panels
                        li
                           a(href="#panel-heading") Panel with heading
                        li
                           a(href="#panel-footer") Panel with footer
                        li
                           a(href="#panel-table") With tables

                  li
                     a(href='#tables') Tables
                     ul.childHide
                        li
                           a(href='#mixins-tables') Base Tables
                        li
                           a(href='#tables-details') Tables details

                  li
                     a(href="#pagination") Pagination
                     ul.childHide
                        li
                           a(href="#pagination-states") Disabled and active states
                        //li
                        //   a(href="#pagination-size") Pagination sizing

                  li
                     a(href="#footer") Footer
                     ul.childHide
                        li
                           a(href="#dashboard-footer") Dashboard footer
                        li
                           a(href="#login-footer") Login footer

                  li
                     a(href="#sidebar") Sidebar

                  .modal-footer
                     .line
                     p
                        span © Made by Trantect team
                     p
                        a(href='#') Back to top
                     p
                        a(href='https://github.com/emily123/smaless')
                           img.gh-ico(src="src/lib/images/download.png")
            .col-md-9
               #color
                  include jade/color

               #buttons
                  include jade/button

               //#button-dropdowns
                  include jade/button dropdowns

               #panels
                  include jade/panels

               #tables
                  include jade/tables

               #pagination
                  include jade/pagination

               #footer
                  include jade/footer

               #sidebar
                  include jade/sidebar

      script(type='text/javascript' src='bower_components/jquery/dist/jquery.js')
      script(type='text/javascript' src='bower_components/bootstrap/dist/js/bootstrap.js')
      script(type='text/javascript' src='main.js')
