/// Body Triggers for layout options
/// @group module
/// @since 0.2.0
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #3e4451;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size - 4;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}

h1,h3 {
  color: $base;
}

h1 {
  padding-top: $padding-default;
  padding-bottom: 9px;
  font-size: $font-size*2;
  margin: 0;
}

h3 {
  font-size: $font-size+6;
  padding-top: $padding-default+5;
  padding-bottom: $padding-default - 5;
  margin: 0;
}

p {
  color: $base;
  margin: 0 0 $margin-primary;
  font-size: $font-size - 4;
}
