/**----------------------------*/
///Variables
/**----------------------------*/

/// Base Color
/// --------------------------------------------------

$brand:             #5d95ff !default;
$brand-primary:     #0189FF !default;
$brand-light:       #5d95ff !default;

///Text color
$base:                  #383c45;//transparency 0%
$base-light:            #6a6d74;//transparency 25%
$base-lighter:          #e1e2e3;//transparency 85%
$base-lightest:         #f5f5f6;//transparency 95%

///code color
$code-red-dark:         #c44742;
$code-red:              #f55952;
$code-red-white:        #feefee;
$code-blue:             #47b2fa;
$code-purple:           #6d60b1;

///font
$font-size:                       18px;
$font-weight-base:                700 !important;

///width
$width-default:                 250px;

///padding
$padding-default:               15px;

///margin
$margin-default:                350px;
$margin-primary:                10px;

///height
$height-default:                100px;

//border
$border-left-default:                1px solid $brand;
$border-left-primary:                3px solid $brand;
$border-top:                         2px solid #e8e8e8;

//width
$min-width:                     767px;
$base-min-width:                991px;
$primary-min-width:             1200px;